* {
  margin: 0;
  padding: 0;
}

$bg: red;

a, a:hover {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: auto;
}

#header {
  position: absolute;
  width: 100%;
  background: #000;


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--nav-items {
      margin-left: 40px;
      display: flex;

      &__item {
        margin: 0 10px;

        color: white;


        &--shopping {
          left: 68.6%;
          right: 29.4%;
          top: 25.62%;
          bottom: 30.52%;
          background: #FF2321;

      }
    }

      &__tel {
        color: white;

      }

      &--telephone {
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }
    }
  }
}

  #hero {
    background: url("../img/bg.png") no-repeat center/cover;
    height: 100vh;
    padding-top: 200px;
  }

  .hero__items {
    display: flex;
    justify-content: space-between;

    &__item {
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 0.05em;
      color: #FFFFFF;

      &__text {
        color: white;


        &--images {
          //margin-left: 400px;
          //align-items: center;
          //flex-direction: column;
          //justify-content: flex-end;


        }
      }
    }
  }

.hero--images--img {
  position: absolute;
  margin-left: -500px;
}




